/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fbe4a3;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #065893;
    text-decoration: none;
    padding: 5px;
  }
  
  nav ul li a:hover {
    background-color: #065893;
    color: #fff;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    color: #065893;
  }
  
  footer {
    background-color: #47c0a7;
    padding: 10px;
    color: #fff;
    text-align: center;
  }
  